.btn-primary{
    background-color:#86B817 !important;
    border: none !important;
  }
  
  .text-primary{
    color: #86B817 !important;
  }
  
  .bg-primary{
    background-color: #86B817 !important;
  }