.hero-header {
    background-color: #007bff; /* bg-primary */
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-bottom: 5rem;
  }
  
  .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  
  .slideInDown {
    animation-name: slideInDown;
  }
  
  @keyframes slideInDown {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  