.main-content {
  display: flex;
  min-height: 100vh;
}

.content-area {
  flex: 1;
  padding: 20px;
  margin-left: 250px; /* Sidebar width */
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }

  .content-area {
    margin-left: 0;
  }
}



/* .content-wrapper {
  background-color: #2d2d2d;
} */

.d-flex {
  display: flex;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.position-relative {
  position: relative;
}

.overflow-hidden {
  overflow: hidden;
}

/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
  .menu-toggle {
    display: block; /* Show the hamburger icon on mobile */
  }

  app-sidebar {
    position: fixed;
    top: 0;
    right: 0; /* Initially hide sidebar off-screen on right */
    z-index: 10000;
    width: 250px;
    height: 100%;
    background-color: #111;
    transition: right 0.3s ease-in-out; /* Slide-in effect */
  }

  app-sidebar.open {
    right: 0; /* When open, slide the sidebar in */
  }

 
  app-sidebar ul {
    list-style-type: none;
    padding: 0;
  }

  app-sidebar ul li {
    padding: 15px;
    text-align: center;
  }

  app-sidebar ul li a {
    color: white;
    text-decoration: none;
  }
}

/* For larger screens, ensure sidebar is always visible */
@media (min-width: 769px) {
  app-sidebar {
    position: static; /* Sidebar is always visible */
    right: 0;
    width: 250px;
  }

  .bg-dark-contrast {
    margin-right: 0; /* No margin needed when sidebar is visible */
  }

  .menu-toggle {
    display: none; /* Hide hamburger icon on larger screens */
  }
}
